body {
    background-color: #9797ad;
}

.cabeçalho {
    margin-bottom: 0px;
    background-color:#b9b9d8;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}