body {
    background-color: #b3b3cb;
}

.cabeçalho {
    margin-bottom: 0px;
    background-color:#9595b3;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-título {
    font-size: 54px;
}