body {
    background-color: #c2c2d7;
}

.cabeçalho {
    margin-bottom: 0px;
    background-color:#c7c7e6;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}